
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/zenlayercloud/index.html">ZenlayerCloud Provider</a>
                </li>
                
                <li>
                    <a href="#">Provider Data Sources</a>
                    <ul class="nav">
                    </ul>
                </li>
                <li>
                    <a href="#">Bare Metal Cloud(BMC)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/bmc_ddos_ips.html">zenlayercloud_bmc_ddos_ips</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/bmc_eips.html">zenlayercloud_bmc_eips</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/bmc_images.html">zenlayercloud_bmc_images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/bmc_instance_types.html">zenlayercloud_bmc_instance_types</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/bmc_instances.html">zenlayercloud_bmc_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/bmc_subnets.html">zenlayercloud_bmc_subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/bmc_vpc_regions.html">zenlayercloud_bmc_vpc_regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/bmc_vpcs.html">zenlayercloud_bmc_vpcs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/bmc_zones.html">zenlayercloud_bmc_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/bmc_ddos_ip.html">zenlayercloud_bmc_ddos_ip</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/bmc_ddos_ip_association.html">zenlayercloud_bmc_ddos_ip_association</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/bmc_eip.html">zenlayercloud_bmc_eip</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/bmc_eip_association.html">zenlayercloud_bmc_eip_association</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/bmc_instance.html">zenlayercloud_bmc_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/bmc_subnet.html">zenlayercloud_bmc_subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/bmc_vpc.html">zenlayercloud_bmc_vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cloud Networking(SDN)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/sdn_cloud_regions.html">zenlayercloud_sdn_cloud_regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/sdn_datacenters.html">zenlayercloud_sdn_datacenters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/sdn_ports.html">zenlayercloud_sdn_ports</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/sdn_private_connects.html">zenlayercloud_sdn_private_connects</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/sdn_port.html">zenlayercloud_sdn_port</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/sdn_private_connect.html">zenlayercloud_sdn_private_connect</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Traffic</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/traffic_bandwidth_cluster_areas.html">zenlayercloud_traffic_bandwidth_cluster_areas</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/traffic_bandwidth_clusters.html">zenlayercloud_traffic_bandwidth_clusters</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Zenlayer Elastic Compute(ZEC)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_border_gateways.html">zenlayercloud_zec_border_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_disk_snapshot_policies.html">zenlayercloud_zec_disk_snapshot_policies</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_disk_snapshots.html">zenlayercloud_zec_disk_snapshots</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_disks.html">zenlayercloud_zec_disks</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_eips.html">zenlayercloud_zec_eips</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_images.html">zenlayercloud_zec_images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_instances.html">zenlayercloud_zec_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_nat_gateways.html">zenlayercloud_zec_nat_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_subnets.html">zenlayercloud_zec_subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_vnics.html">zenlayercloud_zec_vnics</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zec_vpcs.html">zenlayercloud_zec_vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_disk.html">zenlayercloud_zec_disk</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_disk_attachment.html">zenlayercloud_zec_disk_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_disk_snapshot.html">zenlayercloud_zec_disk_snapshot</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_disk_snapshot_policy.html">zenlayercloud_zec_disk_snapshot_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_disk_snapshot_policy_attachment.html">zenlayercloud_zec_disk_snapshot_policy_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_eip.html">zenlayercloud_zec_eip</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_eip_association.html">zenlayercloud_zec_eip_association</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_instance.html">zenlayercloud_zec_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_security_group.html">zenlayercloud_zec_security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_subnet.html">zenlayercloud_zec_subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_vnic.html">zenlayercloud_zec_vnic</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_vnic_attachment.html">zenlayercloud_zec_vnic_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_vnic_ipv4.html">zenlayercloud_zec_vnic_ipv4</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_vpc.html">zenlayercloud_zec_vpc</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_vpc_route.html">zenlayercloud_zec_vpc_route</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zec_vpc_security_group_attachment.html">zenlayercloud_zec_vpc_security_group_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Zenlayer Global Accelerator(ZGA)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zga_accelerate_regions.html">zenlayercloud_zga_accelerate_regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zga_accelerators.html">zenlayercloud_zga_accelerators</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zga_certificates.html">zenlayercloud_zga_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zga_origin_regions.html">zenlayercloud_zga_origin_regions</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zga_accelerator.html">zenlayercloud_zga_accelerator</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zga_certificate.html">zenlayercloud_zga_certificate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Zenlayer Load Balancing(ZLB)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zlb_backends.html">zenlayercloud_zlb_backends</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zlb_instances.html">zenlayercloud_zlb_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zlb_listeners.html">zenlayercloud_zlb_listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zlb_regions.html">zenlayercloud_zlb_regions</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zlb_backend.html">zenlayercloud_zlb_backend</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zlb_instance.html">zenlayercloud_zlb_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/zlb_listener.html">zenlayercloud_zlb_listener</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Zenlayer Virtual Machine(VM)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/disks.html">zenlayercloud_disks</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/images.html">zenlayercloud_images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/instance_types.html">zenlayercloud_instance_types</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/instance_types.html">zenlayercloud_instance_types</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/key_pairs.html">zenlayercloud_key_pairs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/security_groups.html">zenlayercloud_security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/subnets.html">zenlayercloud_subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/d/zones.html">zenlayercloud_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/disk.html">zenlayercloud_disk</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/disk_attachment.html">zenlayercloud_disk_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/image.html">zenlayercloud_image</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/instance.html">zenlayercloud_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/key_pair.html">zenlayercloud_key_pair</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/security_group.html">zenlayercloud_security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/security_group_attachment.html">zenlayercloud_security_group_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/security_group_rule.html">zenlayercloud_security_group_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/zenlayercloud/r/subnet.html">zenlayercloud_subnet</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
